<% include ../parts/header %>


<!-- this is jumbotron...... -->
    <div class="jumbotron text-center">
        <h1>Solar Store</h1>
        <p>We specialized in Solar Products</p>
    </div>
    <hr>
<!-- this is cards....... -->
    <div class="row cards">
        <h3 class="text-center"><b>Our Products </b></h3>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <img class=" img-thumbnail img-rounded" src="../images/Solar1.jpg" alt="Avatar">
                <div class="caption">
                    <h4><b>Solar Panel</b></h4>
                    <p>This is blah Blah</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card">
                <img class=" img-thumbnail img-rounded" src="../images/Solar3.jpg" alt="Avatar">
                <div class="caption">
                    <h4><b>Solar Panel</b></h4>
                    <p>This is blah Blah</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card">
                <img class=" img-thumbnail img-rounded" src="../images/Solar2.jpg" alt="Avatar">
                <div class="caption">
                    <h4><b>Solar Panel</b></h4>
                    <p>This is blah Blah</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
<!-- this is services offerd...... -->
    <div class="container-fluid text-center service">
        <h2>SERVICES</h2>
        <h4>What we offer</h4>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-off logo"></span>
                <h4>POWER</h4>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-heart logo"></span>
                <h4>LOVE</h4>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock logo"></span>
                <h4>JOB DONE</h4>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-leaf logo"></span>
                <h4>GREEN</h4>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-certificate logo"></span>
                <h4>CERTIFIED</h4>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-wrench logo"></span>
                <h4>HARD WORK</h4>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
        </div>
    </div>
<hr>
<!-- this is footer ..... -->
    <div class="container-fluid bg-grey foot">
        <h2 class="text-center">CONTACT</h2><br>
        <div class="row">
            <div class="col-sm-5">
                <p><span class="glyphicon glyphicon-map-marker"></span> Anand, Gujarat , India</p>
                <p><span class="glyphicon glyphicon-phone"></span> 7202060693</p>
                <p><span class="glyphicon glyphicon-envelope"></span> yogenprajapati967@gmail.com </p>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../parts/footer %>